# Core
streamlit==1.38.0

# Video processing
opencv-python-headless==4.8.1.78
mediapipe==0.10.21
numpy==1.26.4

# Streamlit video component (WebRTC)
streamlit-webrtc==0.47.1

# For nicer logging in Streamlit
rich==14.2.0





